* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.6;
	background-color: #f8f7df;
	color: #333;
}

::selection {
	color: white;
	background-color: #926b73b4;
}

h1,
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: 300;
}

p {
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 18px;
	padding: 5px 0;
}

header {
	margin: 3px 0 30px;
}

.fb-bubble {
	width: 40px;
	position: fixed;
	top: 200px;
	right: 50px;
	z-index: 9999;
	transition: transform 0.2s;
}

.fb-bubble:hover {
	transform: scale(1.25) rotate(-20deg);
}

.section-image {
	position: relative;
}

.image-text-box {
	width: 320px;
	padding: 18px 8px;
	color: #ccc;
	background-color: #333;
	position: absolute;
	top: 40%;
	left: 10px;
}

.image-text-box h2 {
	font-size: 20px;
}

.image-text-box p {
	color: #ccc;
}

.section-articles {
	margin: 30px 0 100px;
	position: relative;
}

article {
	width: 200px;
}

article p {
	line-height: 1.8;
}

.article-two {
	position: absolute;
	left: 250px;
	top: 0;
}

.article-three {
	position: absolute;
	right: 260px;
	top: 0;
}

.article-four {
	position: absolute;
	right: 10px;
	top: 0;
}

button {
	background-color: #48282f;
	color: #ccc;
	border: none;
	padding: 10px 15px;
	font-weight: 600;
	color: #f8f7df;
	border-radius: 12px;
	margin-top: 15px;
	cursor: pointer;
}

button:hover {
	background-color: #382025;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #48282f;
}

footer p {
	font-size: 14px;
	padding: 15px 0;
	color: white;
	width: 960px;
	margin: 0 auto;
}
