* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.2;
	color: black;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* main {
    max-width: 1200px;
    margin: 0 auto;
} */

article {
	padding: 20px;
}

article h1 {
	font-size: 26px;
	margin-bottom: 25px;
	text-align: center;
}

.clear {
	clear: both;
}

.sect-full {
	width: 100%;
}

.sect-half {
	width: 50%;
	margin: 0 auto;
}

.black {
	width: 33%;
	float: left;
}

.teal {
	width: 33%;
	float: right;
}

.lightcoral,
.tomato {
	width: 50%;
	float: left;
}

.orange,
.darkred,
.indigo,
.lime {
	width: 25%;
	float: left;
}

.black {
	background-color: black;
}

.teal {
	background-color: teal;
}

.lightcoral {
	background-color: lightcoral;
}

.tomato {
	background-color: tomato;
}

.orange {
	background-color: orange;
}

.darkred {
	background-color: darkred;
}

.indigo {
	background-color: indigo;
}

.lime {
	background-color: lime;
}

.gold {
	background-color: gold;
	width: 33%;
	float: left;
}

.silver {
	background-color: silver;
	width: 33%;
	float: right;
}

.light {
	color: white;
}

.gold img {
	float: left;
	width: 50px;
	margin-top: 10px;
	margin-right: 10px;
}

.silver img {
	float: right;
	width: 50px;
	margin-top: 10px;
	margin-left: 10px;
}

@media only screen and (max-width: 800px) {
	body {
		color: white;
	}

	.sect-full > * {
		width: 100%;
	}

	.lightcoral,
	.tomato {
		float: right;
	}

	.gold,
	.silver {
		width: 100%;
	}

	.gold img {
		float: right;
		margin-top: 10px;
		margin-left: 10px;
	}

	.silver img {
		float: left;
		margin-top: 10px;
		margin-right: 10px;
	}
}
