* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Noto Sans", Arial, sans-serif;
}

body {
	background-color: #303030;
}

nav ul {
	list-style: none;
	/* display: flex; */
}

nav li {
	display: block;
	float: left;
	width: 25%;
	/* flex: 1 1 auto; */
}

li a {
	text-decoration: none;
	background-color: #5c6bc0;
	color: white;
	text-align: center;

	display: block;
	padding: 20px;

	transition: all 0.1s;
}

nav li a:hover {
	background: url(hand.png) #ba68c8 no-repeat;
	background-size: contain;
}

@media (max-width: 800px) {
	nav li {
		width: 100%;
		/* flex-basis: 100%; */
	}

	nav li a {
		margin-bottom: 1px;
	}
}
