* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Noto Sans", Arial, sans-serif;
}

body {
	background-color: #303030;
}

nav ul {
	list-style: none;
	color: black;
}

nav ul li {
	display: block;
	float: left;
	width: 25%;
}

nav ul li a {
	text-decoration: none;
	background-color: #ffab91;
	color: black;
	text-align: center;
	display: block;
	padding: 20px;
	transition: all 0.1s;
}

nav ul li a:hover,
nav ul li a:active {
	background: url(hand.png) salmon no-repeat;
	background-size: contain;
}

.dropdown-content {
	/* ljepse je bez toga */
	/* position: absolute; */
	display: none;
}

.dropdown-content li {
	display: block;
	width: 100%;
}
.dropdown-content li a {
	background-color: #ffc8b7;
	padding: 20px 5px;
	margin-bottom: 1px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media (max-width: 800px) {
	nav ul li {
		width: 100%;
	}

	nav ul li a {
		margin-bottom: 1px;
	}
}
