* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Noto Sans", Arial, sans-serif;
}

body {
	background-color: #303030;
}

.header-box {
	padding: 7rem;
	display: flex;
	justify-content: center;
}
h1 {
	font-family: "Playfair Display", serif;
	font-size: 5em;
	color: #ffab91;
	text-shadow: 1.5rem 0 5rem salmon, -1.5rem 0 5rem salmon,
		0rem 1.5rem 5rem salmon, 0rem -1.5rem 5rem salmon;
	transition: all 1s;
}

nav {
	display: flow-root;
}

nav ul {
	list-style: none;
	color: black;
}

nav li {
	/* display: block; */
	float: left;
	width: 25%;
}

nav li a {
	text-decoration: none;
	background-color: #ffab91;
	color: black;
	text-align: center;

	display: block;
	padding: 20px;

	transition: all 0.1s;
}

li a:hover,
.dropdown:hover .dropbtn {
	background: url(hand.png) salmon no-repeat;
	background-size: contain;
}

.dropdown-content {
	/* ljepse je bez toga */
	position: absolute;
	display: none;
	width: 25%;
}

.dropdown-content li {
	/* display: block; */
	width: 100%;
}
.dropdown-content li a {
	background-color: #ffc8b7;
	padding: 20px 5px;
	/* margin-bottom: 1px; */
	border-bottom: 1px solid #303030;
}

.dropdown-content li a:hover {
	background: salmon;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media (max-width: 800px) {
	nav li {
		width: 100%;
	}

	nav li a {
		margin-bottom: 1px;
	}
}
